#page-teacher-list {
  width: 100vw;
  height: 100vh;
}

#search-teachers {
  margin-top: 3.2rem;
}

#search-teachers label {
  color: var(--color-text-in-primary);
}

#search-teachers .when-inputs-config {
  display: flex;
  align-items: baseline;
  column-gap: 1.6rem;
}

#page-teacher-list main {
  margin: 3.2rem auto;
  width: 90%;
}

#page-teacher-list form > button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.6rem;
  border-radius: 0.8rem;
  border: 0;
  background: var(--color-secondary);
  color: var(--color-button-text);
  font-size: 1.8rem;
  cursor: pointer;
  transition: background-color 0.2s;

  margin-top: 2.4rem;
  width: 100%;
}

#page-teacher-list form > button svg {
  margin-right: 0.8rem;
}

#page-teacher-list form > button:hover {
  background: var(--color-secondary-dark);
}

#search-teachers .input-block + .textarea-block,
#search-teachers .select-block + .input-block, 
#search-teachers .select-block + .select-block {
  margin-top: 2.4rem;
}


@media (min-width: 700px) {
  #page-teacher-list {
    max-width: 100%;
  }

  #search-teachers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.4rem;
    position: absolute;
    bottom: -28px;
  }

  #page-teacher-list main {
    padding: 3.2rem 0;
    max-width: 740px;
    margin: 0 auto;
  }

  #page-teacher-list form > button {
    align-self: flex-end;
  }

  #search-teachers .input-block + .textarea-block,
  #search-teachers .select-block + .input-block, 
  #search-teachers .select-block + .select-block {
    margin-top: 0;
  }
  
}