.register-screen {
  flex: 1;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.register-screen .register-splash-side {
  background: var(--color-primary) url('../../assets/images/background-ornaments.svg') center center no-repeat;
  background-size: contain;

  min-height: 50vh;
  width: 100%;

  display: none;
  justify-content: center;
  align-items: center;
}

.register-screen .register-splash-side .inside-aligner img {
  width: 26rem;
}

.register-screen .register-splash-side .inside-aligner h3 {
  font-size: 2rem;
  width: 20rem;
  color: var(--color-text-in-primary);
}

.register-screen > .register-form-side {
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.register-screen > .register-form-side > form {
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.register-screen > .register-form-side fieldset {
  border: 0;
  flex: 1;
}

.register-screen > .register-form-side fieldset > span {
  display: block;
  max-width: 24rem;
  margin-bottom: 3.2rem;
}

.register-screen > .register-form-side fieldset legend {
  font-size: 3.6rem;
  font-weight: 700;
  color: var(--color-text-title);
  margin: 2.4rem 0;
}

.register-button {
  flex: 1;
  width: 100%;
  height: 5.6rem;
  border: 0;
  border-radius: 0.8rem;
  background: var(--color-secondary);
  color: var(--color-button-text);
  font-weight: 700;

  margin-top: 2.4rem;
}

.register-button[disabled] {
  background: #DCDCE5;
  color: var(--color-text-complement);
}

@media (min-width: 768px) {
  .register-screen {
    display: flex;
    flex-direction: row-reverse;
  }

  .register-screen .register-splash-side {
    flex: 1;
    display: flex;
  }

  .register-screen > .register-form-side {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .register-screen > .register-form-side > a {
    align-self: flex-start;
  }

  .register-screen > .register-form-side > form {
    max-width: 36rem;
  }
}
