.textarea-block {
  position: relative;
}

.textarea-block label {
  font-size: 1.4rem;
}

.textarea-block + .textarea-block {
  margin-top: 1.4rem;
}

.textarea-block textarea {
  width: 100%;
  height: 16rem;
  min-height: 8rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  resize: vertical;
  padding: 1.6rem;
  font: 1.6rem Archivo;
}

.textarea-block::after {
  content: '';
  width: 0;
  height: 2px;
  background: var(--color-primary-light);  
  position: absolute;
  left: 50%;
  transition: all 0.4s;
  bottom: 6px;
}

.textarea-block:focus-within::after {
  width: calc(100% - 3.2rem);  
  left: 1.6rem;
  right: 1.6rem;
}

@media (min-width:700px) {
  #search-teachers .textarea-block + .textarea-block {
    margin-top: 0;
  }
}